.head-container-about {
  display: flex;
  justify-content: space-evenly;
}

.content-about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dental-about {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  align-items: center;
}

.city-about {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.city1-about {
  display: flex;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: rgb(16, 152, 152);
}

.navbar-about {
  background-color: darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99vw;
  height: 9vh;
  font-family: "Poppins", sans-serif;
}

.navbar-about ul li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  padding: 1.3em 3em;
}

.navbar-about ul li a {
  text-decoration: none;
  color: white;
}
ul li:hover {
  background-color: #015050;
  color: white;
  cursor: pointer;
}

.links i {
  color: white;
  display: flex;
  flex-direction: row;
}
.section-about {
  display: flex;
  flex-direction: row;
  background-color: lightseagreen;
  height: 300px;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  line-height: 0px;
}

.about-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-us {
  font-size: 50px;
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 3px;
}

.sub-about-div {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

.main-div {
  display: flex;
  flex-direction: row;
  width: px;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
}

.sub-div {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.h3-tag {
  color: #47caca;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 0px;
  letter-spacing: 1px;
}
.description {
  font-size: 17px;
  color: rgb(119, 118, 118);
  margin-top: 1px;
  font-family: "Poppins", sans-serif;
}

.sub-div ul li {
  font-size: 20px;
  color: rgb(119, 118, 118);
  font-family: "Poppins", sans-serif;
}

.institution-logo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(29, 145, 145);
  justify-content: space-evenly;
  padding: 17px;
  width: 100%;
}
.footer {
  display: flex;
  background-color: teal;
  height: 310px;
  width: 100%;
}
.footer-container {
  padding: 35px;
  color: white;
  width: 450px;
  padding-left: 60px;
}

.img-container {
  padding-bottom: 12px;
  width: 290px;
  height: 100%;
}

.footer-description-paragrapgh {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 25px;
}

.social-icons {
  margin-bottom: 10px;
}
.social-icons i {
  color: white;
  padding: 0px 12px 12px 0px;
  font-size: 30px;
}

.heading {
  color: deepskyblue;
  margin: 69px 10px 0px 48px;
  padding: 8px;
  font-size: 19px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.box li {
  font-size: 18px;
  padding: 0px 0px 5px 8px;
}
.heading2 {
  color: deepskyblue;
  font-size: 19px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  margin: 80px 0px 15px 100px;
}

.user-links ul li {
  list-style: none;
}

.user-links ul li a {
  text-decoration: none;
  color: white;

  display: block;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links span {
  display: flex;
  padding: 7px 0px 19px 100px;
  justify-content: space-evenly;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h2-heading {
  color: deepskyblue;
  padding: 50px 10px 0px 90px;
  font-size: 19px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.photogallery-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  padding: 0px 10px 10px 90px;
}

.footer-copyright {
  background-color: rgb(51, 141, 141);
  display: flex;
  width: 100%;
  height: 65px;
  font-family: "Poppins", sans-serif;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}
