<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="about.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&family=Noto+Sans:ital,wght@0,100;1,100&family=Poppins&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7105ffee50.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script
      src="https://kit.fontawesome.com/7105ffee50.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!------Header part------->

    <header class="head-container-about">
      <img
        style="padding: 15px"
        class="img-container-about"
        src="logo-inverse-306x72.png"
        alt="dentalhealthimage"
        width="290px"
        height="100%"
      />

      <div class="content-about">
        <div class="dental-about">
          <img
            class="city-about"
            src="dealth-phone.png"
            alt="phone"
            width="40px"
            height="30px"
          />
          <p class="city1-about">+1 408 000 00 00</p>
        </div>
        <div class="dental-about">
          <img
            class="city-about"
            src="dealth-mail.png"
            alt="mail"
            width="40px"
            height="30px"
          />
          <p class="city1-about">info@yourmailaddress.com</p>
        </div>
        <div class="dental-about">
          <img
            class="city-about"
            src="dealth-adress.png"
            alt="address"
            width="40px"
            height="30px"
          />
          <p class="city1-about">Eyüp, İstanbul 34250 Turkey</p>
        </div>
      </div>
    </header>

    <!--Navigation menu-->
    <div>
      <nav class="navbar-about">
        <ul>
          <li><a href="#Home" target="_blank">Home</a></li>
          <li><a href="#About" target="_blank">About Us</a></li>
          <li><a href="#Contact" target="_blank">Contact Us</a></li>
        </ul>
      </nav>
    </div>

    <!--content part-->
    <div class="section-about">
      <div class="image1">
        <img
          style="margin-right: 60px"
          class="dental-checkup"
          src="patient-dental.jpg"
          alt=""
          width="600px"
          height="300px"
        />
      </div>
      <div class="about-div">
        <h1 class="about-us">About Us</h1>
        <p style="color: white" class="sub-about-div">
          HOME / <span style="color: rgba(50, 45, 45, 0.71)">ABOUT US</span>
        </p>
      </div>
    </div>
    <!--sub content-->
    <div class="main-div">
      <div>
        <img
          style="margin-left: 100px"
          src="dental-about-us.png"
          alt=""
          width="450px"
        />
        <h3 class="h3-tag">PATIENT SATISFACTION</h3>
        <p class="description">
          Our most important condition is that our patients leave our clinics
          healthy and smiling.
        </p>
      </div>
      <div class="sub-div">
        <h2
          style="
            color: #015050;
            font-size: 24px;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 0px;
          "
        >
          YOU ARE VALUABLE TO US.
        </h2>
        <h3 class="h3-tag">LIFETIME WARRANTY</h3>
        <p class="description">
          Our facility, which has been operating as a polyclinic in Istanbul for
          a long time, has adopted patient and employee satisfaction as a
          principle, based on national and international standards; It maintains
          its place among the leading brands that support continuous training
          and follow technology closely by using managerial support and
          improvement mechanisms in this direction.
        </p>

        <h3 class="h3-tag">BEST SOLUTION FOR TOOTH LOSS</h3>
        <ul>
          <li>Robotic application</li>
          <li>Robotic rating</li>
          <li>Demo application</li>
          <li>Vendor selection</li>
          <li>Business map</li>
        </ul>

        <h3 class="h3-tag">RELIABLE HEALTH SERVICE</h3>
        <p class="description">
          We serve in the light of scientific developments without compromising
          ethical principles.
        </p>
      </div>
    </div>
    <!--  institution logo-->
    <div class="institution-logo">
      <img src="institution1.png" alt="institution-logo-image" />
      <img src="institution2.png" alt="institution-logo-image" />
      <img src="institution3.png" alt="institution-logo-image" />
      <img src="institution1.png" alt="institution-logo-image" />
      <img src="institution2.png" alt="institution-logo-image" />
    </div>

    <!--footer coding part-->
    <div class="footer">
      <div class="footer-container">
        <div>
          <img
            class="img-container"
            src="/dental/logo-inverse-306x72.png"
            alt=""
            width="240px"
            height="100%"
          />
          <div class="footer-description-paragrapgh">
            <span class="detail-container">
              Get your missing teeth treated with dental implants without
              wasting time. With implant dental treatment, we treat your missing
              tooth without damaging your other teeth.
            </span>
          </div>
        </div>
        <div class="social-icons">
          <i class="fa-brands fa-instagram"></i>

          <i class="fa-brands fa-square-facebook"></i>

          <i class="fa-brands fa-twitter"></i>
        </div>
      </div>

      <div class="user-links">
        <h2 class="heading">Useful links</h2>
        <ul class="box">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="links">
        <h2 class="heading2">Contact Info</h2>
        <span><i class="material-icons">mail_outline</i>example@yahoo.com</span>
        <span
          ><i style="font-size: 15px" class="fa fa-phone"></i>+0 320 422
          4254</span
        >

        <span
          ><i class="material-icons">location_on</i>Main Str Chicago
          Ilinois</span
        >
      </div>
      <div class="photo-Gallery">
        <div class="photogallery">
          <h2 class="h2-heading">Photo Gallery</h2>
        </div>
        <div class="photogallery-container">
          <div>
            <a href="explainteethimage.jpg" target="_blank"
              ><img
                src="explainteethimage.jpg"
                alt="explainteethimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="doctorpatientsmilimage.jpg" target="_blank"
              ><img
                src="doctorpatientsmilimage.jpg"
                alt="doctorpatientsmilimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="teethchangeexplainimage.jpeg" target="_blank"
              ><img
                src="teethchangeexplainimage.jpeg"
                alt="teethchangeexplainimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="explainteethimage.jpg" target="_blank"
              ><img
                src="explainteethimage.jpg"
                alt="explainteethimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="AdobeStock_262513359__1588968834_26473.jpg" target="_blank"
              ><img
                src="AdobeStock_262513359__1588968834_26473.jpg"
                alt="explainteethimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="saturday-dental-appointments-4.jpeg" target="_blank"
              ><img
                src="saturday-dental-appointments-4.jpeg"
                alt="explainteethimage"
                width="90px"
            /></a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <span>Copyright &copy;2022 All rights reserved</span>
    </div>
  </body>
</html>
