<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contact</title>
    <link rel="stylesheet" href="contact.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&family=Noto+Sans:ital,wght@0,100;1,100&family=Poppins&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7105ffee50.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script
      src="https://kit.fontawesome.com/7105ffee50.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <!------Header part------->

    <header class="head-container-about">
      <img
        style="padding: 15px"
        class="img-container-about"
        src="/dental/logo-inverse-306x72.png"
        alt="dentalhealthimage"
        width="290px"
        height="100%"
      />

      <div class="content-about">
        <div class="dental-about">
          <img
            class="city-about"
            src="dealth-phone.png"
            alt="phone"
            width="40px"
            height="30px"
          />
          <p class="city1-about">+1 408 000 00 00</p>
        </div>
        <div class="dental-about">
          <img
            class="city-about"
            src="dealth-mail.png"
            alt="mail"
            width="40px"
            height="30px"
          />
          <p class="city1-about">info@yourmailaddress.com</p>
        </div>
        <div class="dental-about">
          <img
            class="city-about"
            src="dealth-adress.png"
            alt="address"
            width="40px"
            height="30px"
          />
          <p class="city1-about">Eyüp, İstanbul 34250 Turkey</p>
        </div>
      </div>
    </header>

    <!--Navigation menu-->
    <div>
      <nav class="navbar-about">
        <ul>
          <li><a href="#Home" target="_blank">Home</a></li>
          <li><a href="#About" target="_blank">About Us</a></li>
          <li><a href="#Contact" target="_blank">Contact Us</a></li>
        </ul>
      </nav>
    </div>

    <!--content part-->
    <div class="section-about">
      <div class="image1">
        <img
          style="margin-right: 60px"
          class="dental-checkup"
          src="teethimage.jpg"
          alt=""
          width="600px"
          height="300px"
        />
      </div>
      <div class="about-div">
        <h1 class="about-us">Contact Us</h1>
        <p style="color: white" class="sub-about-div">
          HOME / <span style="color: rgba(50, 45, 45, 0.71)">CONTACT US</span>
        </p>
      </div>
    </div>

    <!--information code part-->

    <div class="grid-main">
      <div class="card-item">
        <i class="fa-solid fa-headset"></i>
        <div class="sub-card-item">
          <h6 class="card-information">CUSTOMER SERVICE</h6>
          <p class="card-information-details">0212 537 62 52</p>
        </div>
      </div>
      <div class="card-item">
        <i class="fa-sharp fa-solid fa-paper-plane"></i>
        <div class="sub-card-item">
          <h6 class="card-information">MAIL ADDRESS</h6>
          <p class="card-information-details">info@garantiwebtasarim.com</p>
        </div>
      </div>
      <div class="card-item">
        <img src="trifold.png" alt="paper-foldingimage" width="60px" />
        <div class="sub-card-item">
          <h6 class="card-information">OFFICE</h6>
          <p class="card-information-details">
            ywhshdb Mh. Tepe Sk. Eyüp İstanbul
          </p>
        </div>
      </div>
    </div>

    <!-- customer form coding -->
    <div class="contact-form">
      <div class="form">
        <p class="contact-heading">CONTACT FORM</p>

        <input type="text" id="fullname" placeholder="Full Name" />
        <input type="email" id="email" placeholder="Email Address" />
        <input type="text" id="phnumber" placeholder="Phone Number" />
        <input type="textarea" id="message" placeholder="Your Message" />
        <a class="button" href="#button">SEND</a>
      </div>

      <div class="know-us">
        <h5 class="know-us-heading">KNOW US?</h5>
        <p class="know-us-paragrapgh">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>

        <ul class="">
          <li>Think for the start of the project.</li>
          <li>Get to work to shape the main design.</li>
          <li>Configure the HTML and CSS framework.</li>
          <li>Continue with the SaSS BEM method.</li>
          <li>Code your project to be improved.</li>
        </ul>
      </div>
    </div>
    <!--footer coding part-->
    <div class="footer">
      <div class="footer-container">
        <div>
          <img
            class="img-container"
            src="/dental/logo-inverse-306x72.png"
            alt=""
            width="240px"
            height="100%"
          />
          <div class="footer-description-paragrapgh">
            <span class="detail-container">
              Get your missing teeth treated with dental implants without
              wasting time. With implant dental treatment, we treat your missing
              tooth without damaging your other teeth.
            </span>
          </div>
        </div>
        <div class="social-icons">
          <i class="fa-brands fa-instagram"></i>

          <i class="fa-brands fa-square-facebook"></i>

          <i class="fa-brands fa-twitter"></i>
        </div>
      </div>

      <div class="user-links">
        <h2 class="heading">Useful links</h2>
        <ul class="box">
          <li><a   href="#">Home</a></li>
          <li><a   href="#">About Us</a></li>
          <li><a   href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="links">
        <h2 class="heading2">Contact Info</h2>
        <span><i class="material-icons">mail_outline</i>example@yahoo.com</span>
        <span
          ><i style="font-size: 15px" class="fa fa-phone"></i>+0 320 422
          4254</span
        >

        <span
          ><i class="material-icons">location_on</i>Main Str Chicago
          Ilinois</span
        >
      </div>
      <div class="photo-Gallery">
        <div class="photogallery">
          <h2 class="h2-heading">Photo Gallery</h2>
        </div>
        <div class="photogallery-container">
          <div>
            <a href="explainteethimage.jpg" target="_blank"
              ><img
                src="explainteethimage.jpg"
                alt="explainteethimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="doctorpatientsmilimage.jpg" target="_blank"
              ><img
                src="doctorpatientsmilimage.jpg"
                alt="doctorpatientsmilimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="teethchangeexplainimage.jpeg" target="_blank"
              ><img
                src="teethchangeexplainimage.jpeg"
                alt="teethchangeexplainimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="explainteethimage.jpg" target="_blank"
              ><img
                src="explainteethimage.jpg"
                alt="explainteethimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="AdobeStock_262513359__1588968834_26473.jpg" target="_blank"
              ><img
                src="AdobeStock_262513359__1588968834_26473.jpg"
                alt="explainteethimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="saturday-dental-appointments-4.jpeg" target="_blank"
              ><img
                src="saturday-dental-appointments-4.jpeg"
                alt="explainteethimage"
                width="90px"
            /></a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <span>Copyright &copy;2022 All rights reserved</span>
    </div>
  </body>
</html>
