<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="stylesheet" href="footer.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <script
      src="https://kit.fontawesome.com/7105ffee50.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="footer">
      <div class="footer-container">
        <div>
          <img
            class="img-container"
            src="/dental/logo-inverse-306x72.png"
            alt=""
            width="240px"
            height="100%"
          />
          <div class="footer-description-paragrapgh">
            <span class="detail-container">
              Get your missing teeth treated with dental implants without
              wasting time. With implant dental treatment, we treat your missing
              tooth without damaging your other teeth.
            </span>
          </div>
        </div>
        <div class="social-icons">
          <i  class="fa-brands fa-instagram"></i>

          <i class="fa-brands fa-square-facebook"></i>

          <i class="fa-brands fa-twitter"></i>
        </div>
      </div>

      <div class="user-links">
        <div class="heading">Useful links</div>
        <ul class="box">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="links">
        <div class="heading2">Contact Info</div>
        <!-- <i class="material-icons">mail_outline</i
        ><span class="email">example@yahoo.com</span>
        <i class="fa fa-phone"></i>
        <span class="email">+0 320 422 4254</span>
        <i class="fas fa-map-marker-alt"></i>
        <span class="email">Main Str Chicago Ilinois</span> -->
        <span><i class="fa fa-phone"></i> jhghkuk</span>
      </div>
      <div class="photo-Gallery">
        <img src="" alt="" />
      </div>
    </div>

    <div class="footer-copyright">
      <span>Copyright &copy;2022 All rights reserved</span>
    </div>
  </body>
</html>
