<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME Page</title>
    <link rel="stylesheet" href="/Css/home.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  <script
      src="https://kit.fontawesome.com/7105ffee50.js"
      crossorigin="anonymous"
    ></script>
 
  </head>
  <body>
    
    <!-- Header part -->

    <header class="head-container">
      <img src="/images/dentalhealth.jpg" alt="dental" >

      <div class="content">
        
        <img  class="image" src="/images/phone.jpg" alt="phoneimage">
        <span class="content-info">+1 408 000 00 00</span>


        <img   class="image" src="/images/dealth-mail.png" alt="mail">
        <span class="content-info">info@yourmailaddress.com </span>

        <img  class="image" src="/images/dealth-adress.png" alt="address">
        <span class="content-info">Eyüp, İstanbul 34250 Turkey</span>
      </div>
    </header>

    <!--Navigation menu-->
  
      <nav class="navbar">
        <ul>
          <li><a href="/Components/home.html" target="_blank">Home</a></li>
          <li><a href="/Components/about.html" target="_blank">About Us</a></li>
          <li><a href="/Components/contact.html" target="_blank">Contact Us</a></li>
        </ul>
      </nav>
   

    <!--content part-->
    <section class="special-package">
      <aside class="sub-package">
        <span>S p e c i a l P a c k a g e</span>
      <br><br>
      <span>T R E A T E M E N T</span>
      </aside>
      <img src="/images/doctor.jpg" alt="doctorimage">
    </section>


    <!--dental health implant-->
   
    <section class="solution">
       <img src="/images/dental-health-implant.png" alt="teeth">

       <aside class="solution-info">
        <h2>BEST SOLUTION FOR TOOTH LOSS</h2>
        <p>
          Get your missing teeth treated with dental implants without wasting
          time. With implant dental treatment, we treat your missing tooth
          without damaging your other teeth.
        </p>
        <h4>WITH LIFETIME WARRANTY</h4>
        <ul class="warranty-details1">
          <li>Implant tooth in 1 day,</li>
          <li>Gum Treatment</li>
          <li>Teeth Whitening Treatment</li>
          <li>Simple Design</li>
          <li>Transparent Plate</li>
        </ul>
        <a class="right-arrow" href="#" target="_blank">Get to know us &rarr;</a>

       </aside>
    </section>

 

    <!--services code part-->

    <section class="Exclusive">
      <aside>
        <h2>MOUTH AND DENTAL HEALTH</h2>
        <h4>Our Exclusive Services</h4>
      </aside>
     
       <aside class="button-links ">
        <button>ALL SERVICES</button>
       </aside>
      
      
     
    </section>

    

   
    <!--service details  code part -->
    <div class="grid">
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="hizmet1.png" alt="teeth" width="210px" />
          <div class="card-content">
            <h2 class="card-header">IMPLANTOLOJI</h2>
            <p class="card-text">
              Dental implants are artificial tooth roots made of titanium screws
              placed in the jawbone instead of teeth lost for various reasons.
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="hizmet2.png" alt="teeth" width="210px" />
          <div class="card-content">
            <h2 class="card-header">PROSTHESIS & COATING</h2>
            <p class="card-text">
              They are artificial teeth made to help protect the health of the
              existing tissues while restoring the chewing functions,
              contribution to speech and aesthetics of the lost teeth and
              tissues.
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="hizmet3.png" alt="teeth" width="210px" />
          <div class="card-content">
            <h2 class="card-header">SURGICAL CLINIC</h2>
            <p class="card-text">
              It is the technique used to extract teeth that cannot be easily
              seen in the mouth, broken gingival borders or buried teeth.
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="hizmet4.png" alt="teeth" width="210px" />
          <div class="card-content">
            <h2 class="card-header">ORTODONTI</h2>
            <p class="card-text">
              It is the clinic where all kinds of orthodontic applications are
              made. Orthodontics is a special field of dentistry that covers the
              necessary applications for the Arrangement of Entangled Teeth with
              Wires
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="hizmet5.png" alt="teeth" width="210px" />
          <div class="card-content">
            <h2 class="card-header">PEDODONTI</h2>
            <p class="card-text">
              Milk Tooth Extraction, Pediatric Composite Filling, Child Canal
              Treatment, Fissure Covering, Local Flour Application,
              Prefabricated Crown, Placeholder, Child Prosthesis.
            </p>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="card">
          <img class="card-img" src="hizmet6.png" alt="teeth" width="210px" />
          <div class="card-content">
            <h2 class="card-header">ENDODONTI</h2>
            <p class="card-text">
              It is the process of cleaning the infected tissue residues in the
              root of the tooth and which is inflamed. After the channels are
              disinfected, canal filling is made.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--  institution logo-->
    <div class="institution-logo">
      <img src="institution1.png" alt="institution-logo-image" />
      <img src="institution2.png" alt="institution-logo-image" />
      <img src="institution3.png" alt="institution-logo-image" />
      <img src="institution1.png" alt="institution-logo-image" />
      <img src="institution2.png" alt="institution-logo-image" />
    </div>
    <!--FREQUENTLY ASKED QUESTIONS-->
    <div>
      <h2 style="text-align: center; margin-bottom: 0px">
        FREQUENTLY ASKED QUESTIONS
      </h2>
      <p
        style="
          color: rgb(15, 165, 158);
          font-size: 17px;
          font-family: Arial, Helvetica, sans-serif;
          text-align: center;
        "
      >
        MOUTH, JAW AND DENTAL HEALTH
      </p>
    </div>

    <div>
      <h2 class="bleeding">What are the common cases of gum bleeding?</h2>
    </div>

    <div>
      <p class="bleeding-description">
        If the germ layer, also called dental plaque, is allowed to accumulate
        on the teeth, the harmful substances produced by the bacteria living in
        this layer cause inflammation in the gums. This early stage of gum
        disease is called 'gingivitis'. As seen in Figure 1, the gingivitis
        stage may manifest itself with a slight rash or it may be lighter in
        appearance.
      </p>
    </div>
    <div>
      <h2 class="bleeding">How does gingivitis start?</h2>
    </div>
    <div>
      <p class="bleeding-description">
        If the germ layer, also called dental plaque, is allowed to accumulate
        on the teeth, the harmful substances produced by the bacteria living in
        this layer cause inflammation in the gums. This early stage of gum
        disease is called 'gingivitis'. As seen in Figure 1, the gingivitis
        stage may manifest itself with a slight rash or it may be lighter in
        appearance
      </p>
    </div>
    <div>
      <h2 class="bleeding">
        Who can get dental treatment with general anesthesia?
      </h2>
    </div>
    <div>
      <p class="bleeding-description">
        If the germ layer, also called dental plaque, is allowed to accumulate
        on the teeth, the harmful substances produced by the bacteria living in
        this layer cause inflammation in the gums. This early stage of gum
        disease is called 'gingivitis'. As seen in Figure 1, the gingivitis
        stage may manifest itself with a slight rash or it may be lighter in
        appearance.
      </p>
    </div>

    <!--footer coding part-->
    <div class="footer">
      <div class="footer-container">
        <div>
          <img
            class="img-container"
            src="/dental/logo-inverse-306x72.png"
            alt=""
            width="240px"
            height="100%"
          />
          <div class="footer-description-paragrapgh">
            <span class="detail-container">
              Get your missing teeth treated with dental implants without
              wasting time. With implant dental treatment, we treat your missing
              tooth without damaging your other teeth.
            </span>
          </div>
        </div>
        <div class="social-icons">
          <i class="fa-brands fa-instagram"></i>

          <i class="fa-brands fa-square-facebook"></i>

          <i class="fa-brands fa-twitter"></i>
        </div>
      </div>

      <div class="user-links">
        <h2 class="heading">Useful links</h2>
        <ul class="box">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="links">
        <h2 class="heading2">Contact Info</h2>
        <span><i class="material-icons">mail_outline</i>example@yahoo.com</span>
        <span
          ><i style="font-size: 15px" class="fa fa-phone"></i>+0 320 422
          4254</span
        >

        <span
          ><i class="material-icons">location_on</i>Main Str Chicago
          Ilinois</span
        >
      </div>
      <div class="photo-Gallery">
        <div class="photogallery">
          <h2 class="h2-heading">Photo Gallery</h2>
        </div>
        <div class="photogallery-container">
          <div>
            <a href="explainteethimage.jpg" target="_blank"
              ><img
                src="explainteethimage.jpg"
                alt="explainteethimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="doctorpatientsmilimage.jpg" target="_blank"
              ><img
                src="doctorpatientsmilimage.jpg"
                alt="doctorpatientsmilimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="teethchangeexplainimage.jpeg" target="_blank"
              ><img
                src="teethchangeexplainimage.jpeg"
                alt="teethchangeexplainimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="explainteethimage.jpg" target="_blank"
              ><img
                src="explainteethimage.jpg"
                alt="explainteethimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="AdobeStock_262513359__1588968834_26473.jpg" target="_blank"
              ><img
                src="AdobeStock_262513359__1588968834_26473.jpg"
                alt="explainteethimage"
                width="90px"
            /></a>
          </div>
          <div>
            <a href="saturday-dental-appointments-4.jpeg" target="_blank"
              ><img
                src="saturday-dental-appointments-4.jpeg"
                alt="explainteethimage"
                width="90px"
            /></a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <span>Copyright &copy;2022 All rights reserved</span>
    </div>
  </body>
</html>
